/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  font-family: var(--font-family), Arial, Helvetica, sans-serif;
}

  /* ----------------
    UNIVERSAL STYLE
  ----------------- */

.text-decor {
  background-color: var(--accent-color);
  color: var(--text-decor);
  font-size: var(--regular-font-size);
  font-weight: var(--bold-font-weight);
}

  /*--------
    HEADER  
  --------*/

.header {
  padding: 10px;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
}

/* Уголки сверху и снизу */ 

.decorated-zone::after {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  content: "";
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.decorated-zone::before {
  position: absolute;
  top: 10px;
  right: 10px;
  content: "";
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

/* Надпись REC в темной теме */

.header__dark-theam-REC {
  position: absolute;
  color: var(--accent-color);
  font-size: var(--regular-font-size);
  top: 10px;
  right: 71px;
}

.header__dark-theam-REC::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--accent-color);
  margin-block-start: 8px;
  margin-inline-start: 42px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 2px var(--accent-color);
}

.header__dark-theam-REC::before {
  content: "REC";
  text-transform: uppercase;
  position: absolute;
  font-size: var(--regular-font-size);
}

.header__theme-menu {
  margin-inline-end: 3px;
}

.header__theme-menu-list {
  display: grid;
  gap: 13px;
}

.header__theme-menu-button {
  font-size: var(--regular-font-size);
  font-family: inherit;
  color: var(--accent-color);
  padding: 0px 11px 0px 11px;
  border: none;
  background-color: transparent;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus {
  outline: none;
  border-block-end: 2px solid var(--accent-color);
  margin-block-end: -2px;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 2px solid var(--accent-color);
  margin-block-end: -2px;
}

.header__titel-div {
  justify-self: start;
}

.header__titel {
  justify-self: start;
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 96px;
  color: var(--titel-color);
}

.header__text {
  font-style: normal;
  font-weight: var(--bold-font-weight);
  font-size: var(--regular-font-size);
  color: var(--text-decor);
}

  /*--------
     MAIN  
  --------*/

main {
  display: grid;
  gap: 30px;
  margin-block-start: 40px;
  margin-block-end: 40px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

.section {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.section__title {
  margin-block-end: 20px;
  color: var(--h2-color);
  font-size: var(--regular-font-size);
  font-weight: var(--bold-font-weight);
}

.article__text {
  margin-block-end: 20px;
  color: var(--text-color);
  font-size: var(--regular-font-size);
  font-weight: var(--regular-font-weight);
  line-height: 23.4px;
}

.main__text-titel {
  margin-block-end: 10px;
  font-weight: var(--bold-font-weight);
}

.main__text-sub-titel {
  font-weight: var(--regular-font-weight);
}

.main__pseudo-section__title {
  margin-block-end: 22px;
}
 
.text__link {
  text-decoration: none;
  text-shadow: 1px 1px var(--accent-color);
}

.text__link:hover {
  border-inline-end: 1px var(--text-color) solid;
}

.text__link:focus {
  border: 1px var(--text-color) solid;
}

.gallery__pic {
  display: grid;
  gap: 10px;
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*------- 
    FOOTER 
   -------*/

footer {
  height: 668px;
  min-height: 100vh;
  display: grid;
  position: relative;
}

.footer__pseudo-h1 {
  justify-self: center;
  align-self: center;
}

.footer__pseudo-h1-text {
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: var(--bold-font-weight);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--titel-color);
}


    /*-------
      @media 
    --------*/

    /*------
      768px 
    -------*/

@media (width >= 768px) {
  .header, .main, .footer {
    padding: 20px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .header__titel-div {
    margin-inline-start: -20px;
  }
  .header__text-div {
    max-width: calc(100vw / 2 - 20px);
  }
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  .header__dark-theam-REC {
    top: 22px;
    right: 82px;
  }
  .main {
    gap: 60px;
  }
  .main__section-width-two-columns {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
  }
  .main__section-width-tree-rows .artcile-list {
    grid-column: span 2;
  }
  .section__title {
    margin-block-end: 0px;
  }
  .main__pseudo-section__title {
    margin-block-end: 20px;
  }
  .main__section-gallery h2 {
    margin-block-end: 20px;
  }
  .gallery__pic {
    gap: 20px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
  }
  .images:nth-child(1) {
    grid-column: span 2;
  }
  .images:nth-child(2) {
    grid-row: span 2;
  }
  .images:nth-child(3) {
    grid-row: span 2;
  }
  .images:nth-child(5) {
    grid-column: span 2;
  }
  .header__titel, .footer__pseudo-h1-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

    /*-------
      1024px 
    --------*/

@media (width >= 1024px) {
  .header__dark-theam-REC {
    top: 20px;
    right: 81px;
  }
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
  .header__theme-menu-list {
    display: flex;
    grid-template-columns: repeat(3, min-content);
  }
  .header__titel {
    line-height: 127px;
  }
  .main__section-width-tree-rows .artcile-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  .main__section-width-two-columns {
    gap: 10px;
  }
  .section__title {
    margin-block-end: 10px;
  }
}